@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes moveUp {
  0% { transform: translateY(0); }
  100% { transform: translateY(-50px); } /* Adjust as needed */
}

@keyframes moveDown {
  0% { transform: translateY(0); }
  100% { transform: translateY(100px); } /* Adjust as needed */
}

.animate-up {
  animation: moveUp 2s infinite alternate;
}

.animate-down {
  animation: moveDown 2s infinite alternate;
}
